body{
    font-family: Arial, Helvetica, sans-serif;
}

body a {
    color: #007bff;
    text-decor
}

body a:hover {
    text-decoration: underline;
}

.post-meta {
    font-size: small;
    margin-top: 0;
}

.post-list li h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.post-title.p-name {
    margin-bottom: 0;
}

.post-header{
    border-bottom: 0;
}

.post-list-heading{
    text-transform: uppercase;
}

#post-image img{
    width: 100%;
}

#post-disclosure{
    font-size: small;
    font-weight: normal;
    font-style: italic;
}

#post-button{
    font-weight: bold;
}

#post-quote{
    font-style: italic;
    background-color: yellow;
    text-align: center;
    padding: 0.5%;
}

.rss-subscribe {
    display: none;
}

header {
    background-color: #fff;
    padding: 0;
    text-align: left;
    border-bottom: 1px solid #e1e4e8;
}

header h1 {
    margin-bottom: 0;
}

header h2 {
    margin-top: 0;
    padding: 0;
    font-size: small;
    font-weight: normal;
    text-transform: uppercase;
}

footer {
    background-color: #fff;
    padding: 0;
    text-align: left;
    border-top: 1px solid #e1e4e8;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    color: #007bff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
